# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Build and Deploy

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: write

jobs:
  build-and-deploy:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['2.7']

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0 # need the gh-pages branch
    - name: Set up Ruby
    # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby,
    # change this to (see https://github.com/ruby/setup-ruby#versioning):
    # uses: ruby/setup-ruby@v1
      uses: ruby/setup-ruby@0a29871fe2b0200a17a4497bae54fe5df0d973aa # v1.115.3
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - name: Package Labs and Zip
      run: bundle exec rake repackage
    - if: github.ref_name == 'master'
      name: Deploy Master
      run: |
        MSG=$(git log --pretty="%h" -n1)
        git checkout gh-pages
        cp --recursive --force git_tutorial/html/* .
        cp --force dist/git_tutorial.zip .
        git add --all .
        git config user.name "github-actions"
        git config user.email "daniel@mojotech.com"
        git commit -m "Updated gh-pages to $MSG"
        git push
    - if: github.ref_name != 'master'
      name: Deploy Branch
      env:
        BRANCH: ${{ github.head_ref }}
      run: |
        MSG=$(git log --pretty="%h" -n1)
        git checkout gh-pages
        mkdir -p $BRANCH/
        cp --recursive --force git_tutorial/html/* $BRANCH/
        cp --force dist/git_tutorial.zip $BRANCH/
        git add --all $BRANCH
        git status
        git config user.name "github-actions"
        git config user.email "daniel@mojotech.com"
        git commit -m "Updated gh-pages $BRANCH branch to $MSG"
